/* Root */
:root {
  --bg-top: #009688;
  --bg-bottom: #dadbd3;
  --bg-blue: #8edafc;
  --bg-selected: #e9ebeb;
  --bg-own-message: #d5f9ba;
  --bg-primary-window: #eaeaea;
  --bg-secondary-window: #6b7376;
  --bg-chat: ../IMG/mine.jpg;
  --primary-icon-color: #b2b3b3;
  --secondary-icon-color: #6b7376;
}

/* / Root */

/* Generics */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* / Generics */

/* Utilities */
/* / Utilities */

/* Content */

/* background */
#app-background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#bg-upper-side {
  width: 100%;
  height: 15vh;
  background-color: var(--bg-top);
}

#bg-bottom-side {
  width: 100%;
  height: 85vh;
  background-color: var(--bg-bottom);
}
/* / background */

/* Boolzapp application */
#app {
  background-color: white;
  align-self: center;
  position: absolute;
  width: 80%;
  height: 95vh;
  display: flex;
}

/* navigation side */
#app nav {
  width: 30%;

  display: flex;
  flex-direction: column;
}
/* user profile */

#user-profile {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  background-color: var(--bg-primary-window);
}

#user-information {
  display: flex;
  align-items: center;
}

#user-information img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 7.5px;
}
#user-options i {
  font-size: 1.4rem;
  margin: 0 10px;
  color: var(--primary-icon-color);
}
/* / user profile */
/* / navigation side */

/* chat side */
#chat-area {
  width: 70%;
}
/* / chat side */

/* /Boolzapp application */
/* / Content */
