/* Root */
:root {
  --bg-top: #009688;
  --bg-bottom: #dadbd3;
  --bg-blue: #8edafc;
  --bg-selected: #e9ebeb;
  --bg-own-message: #d5f9ba;
  --bg-text-message-area: #f3eeea;
  --bg-primary-window: #eaeaea;
  --bg-secondary-window: #6b7376;
  --primary-icon-color: #b2b3b3;
  --secondary-icon-color: #6b7376;
  --secondary-text-color: #6b7376;
  --color-white: #fff;
  --bg-sent-message: #d5f9ba;
}

/* / Root */

/* Generics */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* / Generics */

/* Utilities */

.wrap {
  display: flex;
}

.wrap-column {
  display: flex;
  flex-direction: column;
}

.icons-size {
  font-size: 1.4rem;
}

/* / Utilities */

/* Content */

/* background */
#app-background {
  width: 100%;
  height: 100vh;
  justify-content: center;
}
#bg-upper-side {
  width: 100%;
  height: 15vh;
  background-color: var(--bg-top);
}

#bg-bottom-side {
  width: 100%;
  height: 85vh;
  background-color: var(--bg-bottom);
}
/* / background */

/* Boolzapp application */
#app {
  background-color: white;
  align-self: center;
  position: absolute;
  width: 80%;
  height: 95vh;
}

/* navigation side */
#app nav {
  width: 30%;
  border-right: 2px solid var(--primary-icon-color);
}
/* user profile */

#user-profile {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  background-color: var(--bg-primary-window);
}

#user-information {
  align-items: center;
}

#user-information img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 7.5px;
}

#user-options i,
#friend-profile i {
  margin: 0 10px;
  color: var(--primary-icon-color);
}
/* / user profile */

/* notifications */

#notifications {
  align-items: center;
  background-color: var(--bg-blue);
  padding: 10px 15px;
}

#notifications i {
  color: var(--bg-blue);
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

#notifications a {
  color: var(--secondary-text-color);
}
/* / notifications */

/* search friends */
#search {
  background-color: var(--bg-primary-window);
}
.search {
  height: 30px;
  display: inline-block;
  margin: 5px;
  width: calc(100% - 10px);
}
/* / search friends */

/* friends list */

#friends-list {
  list-style-type: none;
  flex-grow: 1;
  overflow-y: scroll;
}
/* friend & last message information */
#friends-list .friend {
  padding: 5px 5px 5px 15px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-text-color);
}

.friend.selected {
  background-color: var(--bg-selected);
}
#friends-list .friend-informations {
  width: 100%;
  position: relative;
}

#friends-list img,
#info img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 7.5px;
}

#friends-list .friend span {
  color: var(--secondary-text-color);
}
.friend-informations h3 {
  align-self: flex-end;
}
.text {
  align-self: flex-end;
  position: absolute;
  top: 20px;
}
.hours {
  align-self: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}
/* / friend & last message information */
/* / friends list */
/* / navigation side */

/* chat side */
#chat-area {
  width: 70%;
  background-image: url(../IMG/mine.jpg);
}
#chat-null{
  width: 70%;
  background-image: url(../IMG/mine.jpg);
  justify-content: center;
  align-items: center;
}

#chat-null h3{
  font-size: 2rem;
  width: 70%;
  text-align: center;
}
/* friend profile */
#friend-profile {
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  background-color: var(--bg-primary-window);
}

#info > div {
  justify-content: center;
}
/* /friend profile */

/* conversation with friend */
#conversation {
  flex-grow: 1;
  overflow-y: scroll;
  align-items: center;
  padding: 30px 70px 0;
}

.conversation-text {
  width: 35%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  position: relative;
}

.conversation-text div{
  justify-content: space-between;
}

.conversation-text span{
  align-self: flex-end;
  margin-top: 5px;
  font-size: 0.8rem;

}
.received {
  background-color: var(--color-white);
  align-self: flex-start;
}

.sent {
  background-color: var(--bg-sent-message);
  align-self: end;
}

/* context menu */

#context-menu {
  background-color: var(--color-white);
  width: 90px;
  height: 40px;
  position: absolute;
  z-index: 10;
  left: 90;
}

#context-menu ul {
  list-style-type: none;
}

#context-menu li {
  border: 1px solid black;
  padding: 5px;
}

/* /context menu */
/* /conversation with friend */

/* input area */

#text-area {
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: var(--bg-text-message-area);
}

#text-area input {
  height: 40px;
  flex-grow: 1;
  margin: 0 40px;
}

#text-area i {
  color: var(--secondary-icon-color);
}

/* / input area */
/* / chat side */

/* /Boolzapp application */
/* / Content */
