<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/style.css" />
    <link rel="stylesheet" href="CSS/debug.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javaScript" src="JS/script.js" defer></script>
    <title>Boolzapp</title>
</head>


<body class="debug">
    <div id="app-background" class="wrap-column">
        <!-- background colors -->
        <div id="bg-upper-side"></div>
        <div id="bg-bottom-side"></div>
        <!-- / background colors -->
        <!-- Boolzapp application -->
        <div id="app" class="wrap">
            <!-- navigation side -->
            <nav class="wrap-column">
                <div id="user-profile" class="wrap">
                    <div id="user-information" class="wrap">
                        <img src="IMG/avatar_io.jpg" alt="Me">
                        <span>Sofia </span>
                    </div>
                    <div id="user-options">
                        <i class="fas fa-circle-notch icons-size"></i>
                        <i class="fas fa-comment-alt icons-size"></i>
                        <i class="fas fa-ellipsis-v icons-size"></i>
                    </div>
                </div>
                <div id="notifications" class="wrap">
                    <i class="fas fa-bell-slash icons-size"></i>
                    <div class="wrap-column">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a href="#">Attivare notifiche desktop</a>
                    </div>
                </div>
                <div id="search">
                    <input class="search" type="text" placeholder="    &#128269;      Cerca o inizia una nuova chat">
                </div>
                <ul id="friends-list">
                    <!-- friend message information -->
                    <li v-for="(friend,index) in contacts" class="friend wrap">
                        <div @click="setFriendPointer(index)" class="wrap friend-informations">
                            <img :src="friend.avatar" alt="">
                            <div class="wrap-column">
                                <h3>{{friend.name}}</h3>
                                <div v-for="(text,i) in friend.messages">
                                    <span v-if="getLastMessage(i,friend.messages)" class="text">{{text.message}}</span>
                                    <span v-if="getLastMessage(i,friend.messages)" class="hours">{{text.date}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- / friend message information -->
                </ul>
            </nav>
            <!-- / navigation side -->
            <!-- chat side -->
            <div id="chat-area" class="wrap-column">
                <div id="friend-profile" class="wrap">
                    <div id="info" class="wrap">
                        <img src="IMG/avatar_1.jpg" alt="">
                        <div class="wrap-column">
                            <h3>{{contacts[friendPointer].name}}</h3>
                            <span>Ultimo accesso</span>
                        </div>
                    </div>
                    <div id="options">
                        <i class="fas fa-search icons-size"></i>
                        <i class="fas fa-paperclip icons-size"></i>
                        <i class="fas fa-ellipsis-v icons-size"></i>
                    </div>
                </div>
                <div id="conversation" class="wrap-column">
                    <div v-for="message in contacts[friendPointer].messages"
                        :class="[messageSent(message.status),'conversation-text']">
                        {{message.message}}
                    </div>
                </div>
                <div id="text-area" class="wrap">
                    <i class="far fa-laugh-wink icons-size"></i>
                    <input id="message" type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone icons-size"></i>
                </div>
            </div>
            <!-- / chat side -->
        </div>
        <!-- / Boolzapp application -->
    </div>
</body>

</html>